# ============ BLOCKCHAIN ============
VITE_SEPOLIA_RPC_URL=
VITE_CONTRACT_ADDRESS=

# ============ BACKEND ============
VITE_BACKEND_URL=http://localhost:5000

# ============ IPFS GATEWAY ============
VITE_IPFS_GATEWAY=pinata