# ============ PINATA CONFIG ============
# Dapatkan dari: https://app.pinata.cloud/developers/api-keys
PINATA_JWT=
PINATA_GATEWAY=gateway.pinata.cloud

# ============ SERVER CONFIG ============
PORT=5000