# ============ SEPOLIA TESTNET ============
# RPC URL dari Infura / Alchemy / provider lain
SEPOLIA_RPC_URL=

# Private key wallet yang akan deploy contract (HATI-HATI: JANGAN SHARE!)
PRIVATE_KEY=

# ============ ETHERSCAN (OPTIONAL - untuk verify) ============
ETHERSCAN_API_KEY=